// Media Queries
$sm-down: "only screen and (max-width: 549px)";
$sm-up: "only screen and (min-width: 550px)";

$sm-md-down: "only screen and (max-width: 767px)";
$sm-md-up: "only screen and (min-width: 768px)";

$md-down: "only screen and (max-width: 990px)";
$md-up: "only screen and (min-width: 991px)";

$lg-down: "only screen and (max-width: 1099px)";
$lg-up: "only screen and (min-width: 1100px)";

$xl-down: "only screen and (max-width: 1249px)";
$xl-up: "only screen and (min-width: 1250px)";